<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<% roomId %>"
  </script>
  <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts.js" defer></script>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <!-- <link rel="stylesheet" href="styles.css"> -->

  <style>
    body {
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      background-color: black;
    }
    #videoTitle {
      color:blanchedalmond;
    }

    #allpage {
      width: 100%;
    }

    #videoTitle {
      text-align: center;
    }

    .centerText {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      margin: -25px 0 0 -25px;
    }

    .centerJoinRoomDialog {
      position: relative;
      width: 1366px;
      height: 768px;
    }

    .button {
      position: fixed;
      bottom: 0px;
      right: 5%;
    }

    #gridview-video {
      position: fixed;
      bottom: 0;
      width: 50%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 200px);
      grid-auto-rows: 200px;
    }

    #gridview-video video {
      padding: 20px;
    }

    #main-video {
      margin-top: 90px;
      margin-bottom: 90px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 1000px);
      grid-auto-rows: 500px;
    }

    #main-video video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 90%;
      min-height: 90%;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .outer-video {
      padding: 20px;
    }
  </style>
</head>

<body>
  <div id="allpage">
    <h1 id="videoTitle">Hello friend</h1>
    <div id="main-video"></div>

    <div id="gridview-video">
    </div>
    <p class="lead button">
      <a class="btn btn-primary btn-lg" href="/" role="button">Leave Room</a>
    </p>
  </div>

</body>

</html>