body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#allpage{
  width:1080px;
  margin: auto;
}

#videoTitle{
  text-align: center;
}

.centerText{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: -25px 0 0 -25px; 
}

.centerJoinRoomDialog{
  position: relative;
  width: 1366px;
  height: 768px;
}

#gridview-video{
  margin-top:90px;
  margin-bottom:90px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 200px;
}

#gridview-video video{
    padding: 20px;
}
  
#main-video{
  margin-top:90px;
  margin-bottom:90px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1000px);
    grid-auto-rows: 500px;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.outer-video{
  padding: 20px;
}